.collection{
    margin: 10px 10px;
    padding: 20px 0;
    /* background-color: #91b8e7; */
    border-radius: 20px;
}

<<<<<<< HEAD
#cards,
#view-collection {
=======
#cards {
>>>>>>> 2306d130a5a8484ccad1358dcd3681f3656a0826
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 200px;
    height: 200px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.wrapper:hover {
    z-index: 1000;
    transform: scale(1.3);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.wrapper .container {
    width: 100%;
    height: 100%;
}

.wrapper .container .top {
    height: 80%;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.wrapper .container .top img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.wrapper .container .bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
}

.wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
}

.wrapper .container .bottom p {
    margin: 0;
    padding: 0;
}

.wrapper .container .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
}

.wrapper .container .bottom .left i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    transition: transform 0.5s;
}

#btn-collection {

}

