:root {
    --bg-color: #94777a;
    --blue: #1e79e5;
    --orange: #d8783c;
}

* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
body{
    height: 1000px;
}

=======
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
.nav {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    position: fixed;
    width: 100%;
=======
    position: relative;
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
    height: 65px;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    /* background: rgb(30,121,229); */
    /* background: radial-gradient(circle, rgba(30,121,229,1) 0%, rgba(148,119,122,1) 50%, rgba(216,120,60,1) 100%); */
    /* background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%); */
    /* box-shadow: 0 1rem 1.25rem 0 rgba(148, 187, 233, 1), */
    box-shadow: 0 -0.25rem 1.5rem rgba(148, 119, 122, 1) inset,
        0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
        0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.nav .logo img {
    width: 45px;
    height: 45px;
<<<<<<< HEAD
    /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25); */
    box-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 3px rgba(0, 0, 0, 0.5);
=======
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
    border-radius: 50%;
}


.nav .text {
    color: rgb(255, 255, 255);
    font-size: 25px;
    min-width: 200px;
    display: flex;
    margin-left: -15px;
    align-items: center;
    padding: 0;
}

/* ---MENU---
.nav .menu,
.nav .social {
    display: flex;
    list-style: none;
    margin-left: 25%;
}

.nav .menu li, .nav .social li {
    padding: 20px 30px 20px 0;
}

.nav .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.nav .menu li a:hover,
.nav .menu li a:active {
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

/*---SOCIAL---
.nav .social li img {
    padding: 7px;
    border: 2px solid var(--bg-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30%;
    /* background-color: var(--orange); 
}

.nav .social li a:hover,
.nav .social li a:active {} */

/*---MENU---*/
.nav ul {
<<<<<<< HEAD
=======
    margin-left: 15px;
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
    display: flex;
    list-style: none;
}

.nav ul li:nth-child(1) {
<<<<<<< HEAD
    padding-left: 15px;
=======
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
    align-items: center;
    display: flex;
}

<<<<<<< HEAD
.nav .menu,
.nav .social {
=======
.nav .menu {
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    padding: 20px 30px 20px 0;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    position: relative;
}

<<<<<<< HEAD
=======
.social{
    display: flex;
}

>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
.nav .menu a:hover,
.nav .menu a:active {
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

/*---SOCIAL---*/
<<<<<<< HEAD
.fa-instagram,
.fa-twitter {
    text-shadow: none;
    font-size: 25px;
    transition: all ease-in-out 150ms;
}

.fa-instagram:hover,
.fa-twitter:hover,
.opensea:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.social img{
    margin-left: -8px;
}

/***BUTTON BACK TO TOP***/
#button {
    display: inline-block;
    background-image: linear-gradient(to right, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: show;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    box-shadow: 0 -0.20rem 0.9rem rgba(148, 119, 122, 1) inset,
    0 0.55rem 0.1rem rgba(255, 255, 255, 0.4) inset,
    0 0.20rem 0.1rem 0 rgba(180, 70, 207, 1) inset;
    background-image: linear-gradient(to left, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #button {
        margin: 30px;
    }
=======
.fa-instagram:hover,
.fa-twitter:hover {
    font-size: larger;
    transition: all 0.2s ease;
>>>>>>> 5b3ff205d68a186b88219a57286ea7b4164a36b8
}